<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link href="fonts/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/brands.css" rel="stylesheet">
    <link href="fonts/fontawesome/css/solid.css" rel="stylesheet">

    <style>
        section{
            min-height: 200px;
        }
    </style>

    <title>BMD</title>
  </head>
  <body class="mt-5">
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#00A8A8">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Filter: </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <li class="nav-item dropdown">
                    <button class="btn btn-secondary dropdown-toggle mx-sm-2" type="button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TF IDF
                    </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'tfidf' %}">TF IDF</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'query' %}">Model Language</a>
                </div>
                </li>
                <a class="navbar-brand ml-sm-4" href="#">Input: </a>
                <li>
                    <form class="form-inline my-2 my-lg-0" method="POST">
                        {% csrf_token %}
                        {% if query %}
                        <input class="form-control mr-sm-2" type="text" placeholder="Query" aria-label="Search" name="query" id="query">
                        {% else %}
                        <input class="form-control mr-sm-2" type="text" placeholder="Query" aria-label="Search" name="query" id="query">
                        {% endif %}
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
        </div>
      </nav>

      <!-- Content -->
      <section id="about" class="about">
        <div class="container-fluid pt-md-4">
            <div class="row">
                <div class="col-md-9 col-xl-8 pt-md-2 pl-md-5">
                   <!-- <p>{{queries}}</p> -->
                    {% if query %}
                    <p style="float:left;">Result Found: {{ founded }} &emsp;&emsp;&emsp;&emsp; Time taken: {{ times }} seconds &emsp;&emsp;&emsp;&emsp; </p>
                    {% else %}
                    <p></p>
                    {% endif %}
                </div>
            </div>

            {% if query %}
                {% for result in results %}
                <div class="card mx-sm-4 my-sm-3">
                    <div class="card-body">
                        <div class="row mx-sm-2">
                            <h5 class="card-title">{{result.title}}</h5>
                        </div>

                        <div class="row mx-sm-2">
                            <p class="card-text"><small class="text-muted">No Document: {{result.document_no}} &emsp;&emsp;&emsp;&emsp; Score: {{result.score}} &emsp;&emsp;&emsp;&emsp; Date: {{result.date}}</small></p>
                        </div>

                        <div class="row mx-sm-2">
                            <p class="card-text">{{result.body}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
              {% else %}
                <p>Please Input Query</p>
              {% endif %}
        </div>
      </section>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>